﻿extends layout


block content
  .container-fluid
    #map

    include navbar

    .panel#panel1.col-md-offset-8.col-md-4
      pre.data
      .naslov Прво полугодие
      #hist1
        .histogram
          .bar
          .bar
          .bar
          .bar
          .bar
          .range
      .statistics#stat1

    .panel#panel2.col-md-offset-8.col-md-4
      .naslov Второ полугодие
      #hist2
        .histogram
          .bar
          .bar
          .bar
          .bar
          .bar
          .range
      .statistics#stat2

    .panel#panel3.col-md-offset-8.col-md-4
      .naslov Крај на учебна година
      #hist3
        .histogram
          .bar
          .bar
          .bar
          .bar
          .bar
          .range
      .statistics#stat3

  script.
    L.mapbox.accessToken = 'pk.eyJ1Ijoic3RvamFubWFuIiwiYSI6IjRiZjRmZjYxMGI0OTFiYzBlNTA5YTIwZThlODFhZmRhIn0.NF8KlqWfOo2EDyMsU3C2OA';
    var map = L.mapbox.map('map', 'stojanman.m9264bng', {
      zoomControl: false
    });
    window.map = map