nav#topbar.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      img(src="images/logo.png", id="logo")
      a.navbar-brand=title

    .navbar-text
      input#show-gradovi(type='checkbox', checked)
      &nbsp;Нас. Места

    .navbar-text
      input#show-ucilista(type='checkbox', checked)
      &nbsp;Училишта

    ul.nav.navbar-nav
      li
        a#odberi-drzava(role='button') Цела Држава

    ul.nav.navbar-nav.navbar-right
      li#godina.dropdown
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
          Година:&nbsp;
          span.data
          span.caret
        ul.dropdown-menu(role='menu')

      li#obrazovanie.dropdown
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
          Образование:&nbsp;
          span.data
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a.obrazovanie(data-obrazovanie='osnovno') Основно
          li
            a.obrazovanie(data-obrazovanie='sredno') Средно

      li#studiska-godina.dropdown
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
          Студиска&nbsp;година:&nbsp;
          span.data
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a.studiska-godina(data-studiska-godina='site') Сите
          li.divider
          li
            a.studiska-godina(data-studiska-godina='prva') Прва
          li
            a.studiska-godina(data-studiska-godina='vtora') Втора
          li
            a.studiska-godina(data-studiska-godina='treta') Трета
          li
            a.studiska-godina(data-studiska-godina='chetvrta') Четврта

      li#predmet.dropdown
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
          Предмет:&nbsp;
          span.data
          span.caret
        ul.dropdown-menu(role='menu')


