script(src='/bower_components/lodash/lodash.min.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/backbone/backbone-min.js')

script(src='/javascripts/data.js')
script(src='/javascripts/ui.js')
