#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#topbar {
  margin-top: 0.5em;
}

.panel {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
}

.histogram {
  font-size: x-small;
  border-color: #888888;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  width: 55%;
  float: left;
}

.histogram .bar {
  background-color: #55aacc;
  text-align: right;
  margin: 2px;
  margin-bottom: 5px;
  height: 15px;
  //float: right;
  //clear: both;
  //width: 15%;
  //display: table-cell;
  //vertical-align: text-bottom;
  //line-height: 100px;
  //position:absolute;	
}

.dropdown-menu {
  max-height: 300px;
  overflow: scroll;
}

.range {
  text-align: right;
}

.statistics { 
  width: 40%;
  font-size: small;
  float: right;
}

.naslov {
 font-weight: bold;
 font-size: medium;
 margin-bottom: 5px;
}

#logo {
  margin: 5px;
  float: left;
  width: 42px;
  height: 42px;
}

pre.data {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	height: auto;
	display: none;
}